html {
  background-image: linear-gradient(to top, #ff5e3a, #ff9500);
  height: 100%;
  font-family: Overpass, sans-serif;
  color: #fff;
}

li {
  border-right: none;
  border-bottom: 1px solid #fff;
}

.btn-ghost {
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: .5em;
}

.btn:hover {
  background-color: #fff;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  li {
    border-right: 1px solid #fff;
    border-bottom: none;
  }

}
